.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-large);
    padding: var(--spacing-default);
    height: 60px;

    &-multiple-images {
        position: relative;
        height: 45px;
        width: 45px;

        img {
            &:nth-child(1) {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
                border: 3px solid transparent;
                margin: -3px;
            }

            &:nth-child(2) {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
                border: 3px solid transparent;
                margin: -3px;
            }
        }
    }
}

.text {
    flex: 1;
    line-height: 1.25;

    a {
        font-weight: 700;
    }
}

.title {
    font-weight: bold;
    word-break: break-all;
}

.time {
    color: var(--fgColor-barely-visible);
}

.image {
    border-radius: var(--rounded-full);
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}
.followed {
    animation: fade-out var(--transition-slow) 1s ease-out forwards;
}
