@import 'src/styles/mixins';

.button {
    @include control;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-default) var(--spacing-xl);
    border-radius: var(--rounded-large);
    border: 1px solid var(--control-default-borderColor-rest);
    outline-offset: 1px;

    height: 40px;
    width: fit-content;
    min-width: 100px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}
