@import 'src/styles/mixins';

.menu-bar {
    position: sticky;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-bottom: var(--spacing-large);
    border-bottom: 1px solid var(--border);
    height: var(--headerHeight);

    margin-inline: calc(-1 * var(--spacing-xxl));
    height: var(--headerHeight);
    background-color: var(--header-bgColor);

    button {
        border-radius: var(--rounded-full);
        padding: var(--spacing-default);
        width: 32px;
        height: 32px;
        transition: background-color var(--transition-fast);

        svg {
            width: 20px;
        }

        &:hover {
            background-color: var(--control-default-bgColor-hover);
        }

        &:active {
            background-color: var(--control-default-bgColor-active);
        }
    }
}

.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: var(--headerHeight);
    align-items: flex-end;
    max-width: min(var(--contentWidth), 100vw);
    padding-inline: var(--spacing-large);
    margin-inline: var(--spacing-large);
    margin-bottom: -1px;
    width: 100%;
}

.buttons {
    display: flex;
    gap: var(--spacing-default);
    padding-block: var(--spacing-large);

    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-color var(--transition-default),
            background-color var(--transition-default);
        cursor: pointer;
        border: 1px solid transparent;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--fgColor-default);
            opacity: 0;
            transition: opacity var(--transition-default);
        }

        &.active {
            background-color: var(--control-default-bgColor-active);
            /* &:before {
                opacity: 1;
            } */
        }
    }
}
