.header {
    display: flex;
    flex-direction: column;

    &-top {
        gap: var(--spacing-large);
        display: flex;
    }

    &-image {
        border-radius: var(--rounded-full);
        cursor: pointer;
        transition: var(--transition-default);
        &:hover {
            filter: brightness(0.9);
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--spacing-small);
    }

    &-extra {
        display: flex;
        align-items: center;
        gap: var(--spacing-xl);
        color: var(--fgColor-subtle);
        margin-right: 5px;
        svg {
            width: 16px;
            height: 16px;
            position: relative;
            top: -1px;
        }
    }
}

.dot {
    color: var(--fgColor-subtle);
}
.reactions {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.author {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}

.name {
    font-weight: 500;
    cursor: pointer !important;
}
.username {
    color: var(--fgColor-subtle);
}

.popover-trigger {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}
