.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    & > *:not(:first-child) {
        margin-top: var(--spacing-xxxl);
    }
}

.trigger {
    position: absolute;
    bottom: 0;
}

.last-post {
    position: relative;
}
