.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--rounded-large);
    border: 1px solid var(--border);
    overflow: hidden;
}

.placeholder {
    cursor: text;

    margin-bottom: 0;

    & > * {
        color: var(--fgColor-barely-visible);
    }

    &-not-active {
        padding: var(--spacing-large);
    }
}
