.post-info {
    display: flex;
    gap: var(--spacing-large);
    margin-bottom: var(--spacing-xxxl);

    &-image {
        border-radius: var(--rounded-full);
        cursor: pointer;
        transition: var(--transition-default);
        &:hover {
            filter: brightness(0.9);
        }
    }

    &-text {
        display: flex;
        align-items: center;
        gap: var(--spacing-default);
    }

    &-extra {
        display: flex;
        gap: var(--spacing-default);
        color: var(--fgColor-subtle);
    }
}

.author {
    display: flex;
    align-items: center;
    gap: var(--spacing-default);
}

.name {
    font-weight: 500;
    cursor: pointer !important;
}
.username {
    color: var(--fgColor-subtle);
}

.popover-trigger {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}
