.wrapper {
    min-height: 40px;

    label {
        display: inline-block;
        margin-bottom: var(--spacing-default);
        font-weight: 500;
        transition: color var(--transition-default);
    }
}

.input-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 40px;
    width: 100%;
    gap: var(--spacing-large);
    border-radius: var(--rounded-large);
    border: 1px solid var(--control-default-borderColor-rest);
    padding-inline: var(--spacing-xl);
    outline-color: transparent;
    transition: outline-color var(--transition-default),
        border-color var(--transition-default),
        background-color var(--transition-default);
    box-shadow: inset var(--shadow-barely-visible);

    svg {
        color: var(--fgColor-default);
        transition: color var(--transition-default);
    }

    &:focus-within {
        background-color: var(--textInput-default-bgColor-active);
    }

    &.focused {
        outline: var(--outline);
        outline-offset: -1px;

        svg {
            transition: none;
        }
    }

    input {
        width: 100%;
        outline: none;
        background-color: transparent;
        color: var(--fgColor-default);
        transition: color var(--transition-default);

        &::placeholder {
            transition: color var(--transition-default);
            color: var(--fgColor-subtle);
        }
    }
}

.clear-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--rounded-full);

    padding: var(--spacing-default);
    transition: var(--control-default-transition);

    &:hover {
        svg {
            color: var(--control-default-fgColor-hover);
        }
        background-color: var(--control-default-bgColor-hover);
    }
}

.prefix-icon {
    display: flex;
    color: var(--fgColor-subtle);
}

.suffix-icon {
    display: flex;
}

.help-text {
    display: block;
    margin-top: var(--spacing-default);
    color: var(--fgColor-subtle);
    font-size: var(--text-small);
}

.required {
    color: var(--color-error);
    padding-left: var(--spacing-small);
    line-height: 1;
    transition: opacity var(--transition-default);
}

.flash {
    div.input-wrapper:before {
        opacity: 1;
    }
}

.error {
    @for $i from 0 through 10 {
        &:nth-child(#{$i + 1}n) {
            .input-wrapper:before {
                transition-delay: #{$i * 0.033}s;
            }
        }
    }

    .input-wrapper {
        border-color: var(--color-error) !important;
        outline-color: var(--color-error) !important;

        &:before {
            content: '';
            pointer-events: none;
            z-index: 2;
            position: absolute;
            inset: 0;
            background-color: var(--control-error-bgColor-flash);
            opacity: 0;
            transition: opacity var(--transition-default);
            transition-timing-function: ease-in;
        }
    }

    .error-text {
        color: var(--color-error);
    }
}

.error-text {
    overflow: hidden;
    display: block;
    font-size: var(--text-small);
    padding-block: 2px;
    height: 20px;
    transition: height var(--transition-fast);

    &:empty {
        height: 0px;
    }

    span {
        animation: appear var(--transition-fast);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.disabled {
    pointer-events: none;
    user-select: none;

    label {
        color: var(--fgColor-subtle);
    }

    .required {
        opacity: 0.5;
    }

    svg {
        color: var(--fgColor-subtle);
    }

    input::placeholder {
        color: var(--fgColor-barely-visible);
    }
}
