.container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    isolation: isolate;
    width: 100%;

    & > div {
        grid-area: 1/1;
        width: 100%;
    }
}

.current {
    position: relative;
}

.from {
    opacity: 1;
    z-index: 1;
}

.to {
    opacity: 0;
}
