@import 'src/styles/mixins';

.search-results {
    pointer-events: none;
    inset: 0;
    position: fixed;
    width: 100%;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    top: 100%;
    margin-top: var(--spacing-xxl);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;

    @include responsive('lg') {
        margin-top: var(--spacing-large);
    }

    &:before {
        content: '';
        transition: opacity 250ms ease-out;
        opacity: 0;
    }
}

.mobile-search-bar {
    position: relative;
    pointer-events: initial;
    border-radius: var(--rounded-xl);
    display: flex;
    align-items: center;
    width: 350px;
    max-width: 100%;
    margin: auto;
    margin-top: var(--spacing-large);
    box-shadow: var(--shadow-default);
    border-color: transparent;
    opacity: 0;
    display: none;
    height: 0px;
    transition: height var(--transition-default);

    @include responsive('lg') {
        margin-bottom: var(--spacing-xxl);
        opacity: 1;
        display: initial;
        height: 40px;
        border-color: var(--border);
        width: 100%;
        max-width: 350px;
        margin-inline: var(--spacing-large);
        width: calc(100vw - 2 * var(--spacing-xxl));
    }
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    pointer-events: initial;
    position: relative;
    border: 1px solid var(--border);
    border-radius: var(--rounded-large);
    min-height: 80px;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: var(--shadow-large);
    overflow: hidden;
    padding: var(--spacing-large);
}

.content {
    width: calc(100% - (2 * var(--spacing-xxl)));
    max-width: 550px;
    max-height: calc(100vh - var(--headerHeight) - 2 * var(--spacing-xl)) !important;

    @include responsive('lg') {
        max-height: calc(100vh - var(--headerHeight) - 2 * var(--spacing-xxxl)) !important;

        top: calc(var(--headerHeight));
    }
}

.divider {
    margin-top: var(--spacing-large) !important;
}
