@import 'src/styles/mixins';

.container {
    position: fixed;
    z-index: 4;
    width: 100vw;
    box-sizing: border-box;
    min-height: var(--headerHeight);
    background-color: var(--header-bgColor);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-large) var(--spacing-xxl);
    border-bottom: 1px solid var(--border);
    transition: transform var(--transition-slow);

    view-transition-name: header;
    contain: layout;

    &:before {
        content: '';
        position: absolute;
        background-color: var(--border);
        bottom: -1px;
        width: 100%;
        height: 1px;
        z-index: 4;
    }
}

.content {
    position: relative;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: var(--text-logo);
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;

    @include responsive('xs') {
        width: 100%;
    }

    a {
        color: var(--fgColor-heading);

        @include responsive('xs') {
            display: none;
        }

        &:hover {
            @keyframes shine {
                50% {
                    opacity: 0.75;
                }
            }

            animation: shine 1s ease-out;
        }
    }
}

.hidden {
    top: 0 !important;
    transform: translateY(-100%) !important;
}

.logoText {
    position: relative;
}

.logoPicker {
    position: absolute;
    width: 100%;
    transform: translateY(11px);
}
