.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);

    margin-block: var(--spacing-xxl);

    svg {
        position: relative;
        bottom: 1px;
        width: 20px;
        height: 20px;
        stroke-width: 1.25px !important;
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    gap: var(--spacing-xl);
}

.button {
    display: flex;
    align-items: center;
    gap: var(--spacing-default);
}
