[data-theme="brand"] {

    --github-color: var(--color-white);

    --bgColor-default: var(--color-brand);
    --header-bgColor: var(--color-brand);

    --fgColor-heading: color-mix(in hsl, #fff, var(--color-brand) 15%);
    --fgColor-default: color-mix(in hsl, #fff, var(--color-brand) 30%);
    --fgColor-subtle: color-mix(in hsl, #fff, var(--color-brand) 50%);
    --fgColor-barely-visible: color-mix(in hsl, #fff, var(--color-brand) 70%);
    --control-default-fgColor: var(--fgColor-default);
    --border: color-mix(in hsl, #fff, var(--color-brand) 90%);
}
