[data-theme='dark'] {
    --color-github: #fff;

    --bgColor-default: var(--color-dark);
    --fgColor-default: var(--color-base-85);
    --fgColor-heading: var(--color-base-90);
    --fgColor-subtle: var(--color-base-50);
    --fgColor-barely-visible: var(--color-base-20);
    --border: color-mix(in hsl, #fff, var(--color-dark) 89%);
    --header-bgColor: var(--color-dark);

    --control-default-bgColor-hover: hsl(0, 0%, 6%);
    --control-default-bgColor-active: var(--color-base-10);
    --control-default-borderColor-hover: var(--color-base-10);
    --control-error-bgColor-flash: color-mix(
        in hsl,
        var(--color-error),
        transparent 85%
    );

    --control-inverted-bgColor-rest: var(--fgColor-heading);
    --control-inverted-bgColor-hover: var(--color-base-80);
    --control-inverted-bgColor-active: var(--color-base-75);

    --textInput-default-bgColor-active: hsl(0, 0%, 6%);
}
