[data-theme="dark"] {
    --github-color: #fff;

    --fgColor-heading:          var(--color-white);
    --bgColor-default:          var(--color-dark);
    --fgColor-default:          hsl(0, 0%, 93%);
    --fgColor-subtle:           hsl(0, 0%, 50%);
    --fgColor-barely-visible:   hsl(0, 0%, 25%);
    --control-default-fgColor:  hsl(0, 0%, 93%);
    --border:                   color-mix(in hsl, #fff, var(--color-dark) 89%);
    --header-bgColor:           var(--color-dark);

    --control-inverted-bgColor-rest: var(--fgColor-heading);
}
