.transitioning {
    @media (prefers-reduced-motion: reduce) {
        --transition-theme: none;
    }

    --transition-fast: var(--transition-theme);
    --transition-default: var(--transition-theme);
    --transition-slow: var(--transition-theme);
    --transition-sloth: var(--transition-theme);
    --control-default-transition: var(--transition-theme);

    * {
        transition: none !important;
    }

    .theme-switcher {
        transition: height var(--transition-theme),
            border-color var(--transition-theme) !important;
    }

    div,
    nav,
    a:has(span),
    button {
        $transition: background-color var(--transition-theme),
            border-color var(--transition-theme) !important;

        transition: $transition;

        &::before,
        &::after {
            transition: $transition;
        }
    }

    h1,
    h2,
    h3,
    h4,
    p,
    a:not(:has(span)),
    span:not(:has(svg)),
    label {
        transition: background-color var(--transition-theme),
            color var(--transition-theme), border-color var(--transition-theme) !important;

        & > * {
            transition: none !important;
        }
    }

    svg {
        transition: color var(--transition-theme) !important;
        & > * {
            transition: none !important;
        }
    }

    input {
        transition: background-color var(--transition-theme),
            border-color var(--transition-theme), color var(--transition-theme) !important;
    }

    .theme-switcher {
        transition: background-color var(--transition-theme),
            border-color var(--transition-theme), height var(--transition-theme);
    }
}
