

.transitioning {
    @media (prefers-reduced-motion: reduce) {
        --transition-theme: none;
    }

    --transition-fast: var(--transition-theme);
    --transition-default: var(--transition-theme);
    --transition-slow: var(--transition-theme);
    --control-default-transition: var(--transition-theme);

    h1, h2, h3, h4, p, span, button, label {
        transition: color var(--transition-theme);
    }


    .theme-switcher {
        transition:
            background-color var(--transition-theme),
            border-color var(--transition-theme),
            height var(--transition-theme);
    }

}
