.tiptap {
    outline: none;
}

.post-content {
    min-height: 100%;
    font-size: 18px;
    font-weight: 450;
    /* text-indent: 2ch; */
    /* text-align: justify;
    text-justify: inter-word; */

    textarea,
    h1 {
        font-weight: 800;
        color: var(--fgColor-heading);
    }

    p,
    blockquote {
        line-height: 1.5;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: 700;
    }

    u {
        text-decoration: underline;
    }

    p,
    blockquote,
    h1,
    h2,
    textarea {
        &:not(:last-child) {
            margin-bottom: var(--spacing-xxxl);
        }
    }
    blockquote {
        position: relative;
        border-radius: var(--rounded-large);
        quotes: '\201C''\201D''\2018''\2019';
        padding: var(--spacing-xxl) var(--spacing-xxxl);
        color: var(--fgColor-quote) !important;
        font-style: italic;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            border-radius: var(--rounded-full);
            height: 100%;
            width: 4px;
            background-color: var(--border);
        }

        span,
        p {
            display: inline;
        }
    }

    font-variant-numeric: oldstyle-nums !important;
    p.is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        color: var(--fgColor-barely-visible);
        float: left;
        height: 0;
        pointer-events: none;
    }
}
