.tiptap {
    outline: none;
}

.article-content {
    line-height: 2;
    font-size: 18px;
    font-weight: 450;
    /* text-indent: 2ch; */
    /* text-align: justify;
    text-justify: inter-word; */
    line-height: 1.5;

    em {
        font-style: italic;
    }

    font-variant-numeric: oldstyle-nums !important;
    p.is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        color: var(--fgColor-barely-visible);
        float: left;
        height: 0;
        pointer-events: none;
    }
}
