.tiptap {
    outline: none;
}

.article-content {
    font-family: var(--font-lora), serif;
    line-height: 2;
    /* font-size: 21px;
    font-weight: 500;
    text-indent: 2ch;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2; */

    em {
        font-style: italic;
    }

    font-variant-numeric: oldstyle-nums !important;
    p.is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        color: var(--fgColor-barely-visible);
        font-weight: 500;
        float: left;
        height: 0;
        pointer-events: none;
    }
}
