:root {
    // LAYOUT
    --headerHeight: 61px;
    --contentWidth: 800px;

    --text-small: 0.75rem;
    --text-default: 1rem;
    --text-h3: 1.25rem;
    --text-h2: 1.5rem;
    --text-h1: 2rem;

    --breakpoint-small: 768px;
    --breakpoint-medium: 1024px;
    --breakpoint-large: 1440px;

    --shadow-xsmall: 0px 1px 0px 0px #1f23281a;
    --shadow-small: 0px 1px 0px 0px #1f23280a;
    --shadow-default: 0px 3px 6px 0px #424a531f;
    --shadow-large: 0px 6px 18px 0px #25292e1f;
    --shadow-barely-visible: 0px 6px 18px 0px #25292e06;

    --transition-instant: 75ms;
    --transition-fast: 100ms;
    --transition-default: 150ms;
    --transition-slow: 250ms;
    --transition-sloth: 500ms;

    --transition-page: 125ms ease-out;
    --transition-theme: 150ms;

    --spacing-small: 2.5px;
    --spacing-default: 5px;
    --spacing-large: 10px;
    --spacing-xl: 15px;
    --spacing-xxl: 20px;
    --spacing-xxxl: 30px;

    --rounded-small: 2.5px;
    --rounded-default: 5px;
    --rounded-large: 10px;
    --rounded-xl: 20px;
    --rounded-full: 9999px;

    --text-small: 0.8rem;
    --text-default: 1rem;
    --text-logo: 2.5rem;

    --outline-color: black;
    --outline: 2px solid var(--outline-color);

    // COLORS

    --color-github: rgb(23, 21, 21);

    --color-info: hsl(198, 43%, 52%);
    --color-success: hsl(138, 70%, 40%);
    --color-success-flash: hsl(138, 60%, 45%);
    --color-warning: hsl(46, 70%, 55%);
    --color-error: hsl(0, 80%, 50%);

    --navy-hue: 215;
    --navy-sat: 40%;

    --sepia-hue: 38;
    --sepia-sat: 44%;

    --color-base-0: hsl(0, 0%, 0%);
    --color-base-5: hsl(0, 0%, 5%);
    --color-base-10: hsl(0, 0%, 10%);
    --color-base-15: hsl(0, 0%, 15%);
    --color-base-20: hsl(0, 0%, 20%);
    --color-base-25: hsl(0, 0%, 25%);
    --color-base-30: hsl(0, 0%, 30%);
    --color-base-40: hsl(0, 0%, 40%);
    --color-base-50: hsl(0, 0%, 50%);
    --color-base-60: hsl(0, 0%, 60%);
    --color-base-70: hsl(0, 0%, 70%);
    --color-base-75: hsl(0, 0%, 75%);
    --color-base-80: hsl(0, 0%, 80%);
    --color-base-85: hsl(0, 0%, 85%);
    --color-base-90: hsl(0, 0%, 90%);
    --color-base-93: hsl(0, 0%, 93%);
    --color-base-95: hsl(0, 0%, 95%);
    --color-base-97: hsl(0, 0%, 97%);
    --color-base-100: hsl(0, 0%, 100%);

    --bgColor-default: var(--color-base-100);
    --bgColor-muted: var(--color-base-93);
    --fgColor-heading: var(--color-base-10);
    --fgColor-default: var(--color-base-20);
    --fgColor-quote: var(--color-base-40);
    --fgColor-subtle: var(--color-base-60);
    --fgColor-barely-visible: var(--color-base-80);

    --header-bgColor: var(--bgColor-default);

    --border: var(--color-base-85);

    // THEME SWITCHER
    --color-navy: hsl(var(--navy-hue), var(--navy-sat), 20%);
    --color-light: white;
    --color-dark: black;
    --color-sepia: hsl(var(--sepia-hue), var(--sepia-sat), 78%);

    --textInput-default-bgColor-active: var(--color-base-97);

    // BUTTONS
    --control-default-fgColor-rest: var(--fgColor-default);
    --control-default-bgColor-rest: var(--bgColor-default);
    --control-default-bgColor-hover: var(--color-base-95);
    --control-default-bgColor-active: var(--color-base-90);
    --control-default-borderColor-rest: var(--border);
    --control-default-borderColor-hover: var(--color-base-80);
    --control-default-borderColor-active: var(--color-base-85);
    --control-error-bgColor-flash: color-mix(
        in hsl,
        var(--color-error),
        transparent 90%
    );

    --control-default-transition: color var(--transition-default),
        background-color var(--transition-default),
        border-color var(--transition-default);

    --control-inverted-fgColor-rest: var(--bgColor-default);
    --control-inverted-fgColor-hover: var(--color-base-95);
    --control-inverted-bgColor-disabled: var(--color-base-40);
    --control-inverted-bgColor-rest: var(--fgColor-heading);
    --control-inverted-bgColor-hover: var(--color-base-20);
    --control-inverted-bgColor-active: var(--color-base-30);
    --control-inverted-borderColor-rest: var(--control-inverted-bgColor-rest);
    --control-inverted-borderColor-hover: var(--control-inverted-bgColor-rest);
}
