:root {
    --headerHeight: 61px;

    --color-black:                  hsl(0, 0%, 0%);
    --color-gray-5:                 hsl(0, 0%, 5%);
    --color-gray-10:                hsl(0, 0%, 10%);
    --color-gray-20:                hsl(0, 0%, 20%);
    --color-gray-30:                hsl(0, 0%, 30%);
    --color-gray-40:                hsl(0, 0%, 40%);
    --color-gray-50:                hsl(0, 0%, 50%);
    --color-gray-60:                hsl(0, 0%, 60%);
    --color-gray-70:                hsl(0, 0%, 70%);
    --color-gray-80:                hsl(0, 0%, 80%);
    --color-gray-85:                hsl(0, 0%, 85%);
    --color-gray-90:                hsl(0, 0%, 90%);
    --color-gray-95:                hsl(0, 0%, 95%);
    --color-white:                  hsl(0, 0%, 100%);

    --color-light: var(--color-white);
    --color-dark:  var(--color-black);
    --color-brand: hsl(241, 40%, 45%);
    --color-sepia: #dfcdad;

    --color-error:                  hsl(0, 70%, 50%);
    --color-success:                hsl(138, 70%, 50%);

    --bgColor-default:              var(--color-light);
    --text-heading:                 var(--color-black);
    --fgColor-default:              var(--color-gray-20);
    --fgColor-subtle:                  var(--color-gray-50);
    --fgColor-barely-visible:          var(--color-gray-80);

    --header-bgColor: var(--bgColor-default);

    --text-small: 0.75rem;
    --text-default: 1rem;
    --text-h3: 1.25rem;
    --text-h2: 1.5rem;
    --text-h1: 2rem;

    --shadow-xsmall: 0px 1px 0px 0px #1f23281a;
    --shadow-small: 0px 1px 0px 0px #1f23280a;
    --shadow-default: 0px 3px 6px 0px #424a531f;
    --shadow-large: 0px 6px 18px 0px #25292e1f;

    --border: var(--color-gray-85);

    --control-default-fgColor: var(--color-gray-30);
    --control-default-bgColor-rest: var(--background);
    --control-default-bgColor-hover: var(--color-gray-95);
    --control-default-bgColor-active: var(--color-gray-90);
    --control-default-borderColor-rest: var(--border);
    --control-default-borderColor-hover: var(--color-gray-80);
    --control-default-borderColor: var(--border);

    --transition-fast: 100ms;
    --transition-default: 150ms;
    --transition-slow: 250ms;
    --transition-sloth: 500ms;

    --transition-page: 125ms ease-out;
    --transition-theme: 150ms;

    --spacing-small: 2.5px;
    --spacing-default: 5px;
    --spacing-large: 10px;
    --spacing-xl: 15px;
    --spacing-xxl: 20px;
    --spacing-xxxl: 30px;

    --rounded-small: 2.5px;
    --rounded-default: 5px;
    --rounded-large: 10px;

    --text-small: 0.8rem;
    --text-default: 1rem;
    --text-logo: 2.5rem;


}
