@import 'src/styles/mixins';

.search-results {
    pointer-events: none;
    inset: 0;
    position: fixed;
    width: 100%;
}

.wrapper {
    position: relative;
    top: 100%;
    padding: var(--spacing-large);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;

    &:before {
        content: '';
        transition: opacity 250ms ease-out;
        opacity: 0;
    }
}

.background {
    &:before {
        content: '';
        pointer-events: none;
        position: absolute;
        background: radial-gradient(ellipse, var(--bgColor-default) 25%, transparent 70%);
        inset: -50px;
        z-index: -1;
    }

    &--large {
        &:before {
            inset: -100px;
        }
    }
}

.mobile-search-bar {
    position: relative;
    pointer-events: initial;
    border-radius: var(--rounded-xl);
    display: flex;
    align-items: center;
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: var(--shadow-default);
    border-color: transparent;
    opacity: 0;
    display: none;
    height: 0px;
    transition: height var(--transition-default);

    @include responsive('lg') {
        margin-bottom: var(--spacing-xxl);
        opacity: 1;
        display: initial;
        height: 40px;
        border-color: var(--border);
    }
}

.container {
    pointer-events: initial;
    position: relative;
    background-color: var(--bgColor-default);
    border: 1px solid var(--border);
    border-radius: var(--rounded-xl);
    min-height: 80px;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: var(--shadow-large);
    overflow: hidden;

    padding: var(--spacing-large);
}
