.image {
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-xxxl);
    max-width: 100%;
    position: relative;

    figure {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-xl);

        img {
            max-width: 100%;
            height: auto;
        }

        figcaption {
            position: relative;
            outline: none;
            user-select: text;
            word-wrap: break-word;
            font-size: var(--text-caption);

            &:empty::before {
                pointer-events: none;
                content: attr(data-placeholder);
                color: var(--fgColor-subtle);
            }
        }
    }
}

.placeholder {
    color: var(--fgColor-barely-visible);
}
