.title {
    padding: 0;
    font-size: var(--text-h1);
    font-weight: 700;

    width: 100%;
    resize: none;
    outline: none;
    border: none;
    overflow: hidden;

    background-color: transparent;
    color: var(--fgColor-default);
    margin-bottom: var(--spacing-default);

    &::placeholder {
        color: var(--fgColor-barely-visible);
    }
}
