.container {
    overflow: hidden;
    position: absolute;
    background-color: var(--bgColor-default);
    z-index: 99;
    border: 1px solid var(--border);
    border-radius: var(--rounded-large);
    padding: var(--spacing-default);
    box-shadow: var(--shadow-large);
    pointer-events: all;

    display: flex;
    flex-direction: column;

    svg {
        width: 16px;
        height: 16px;
    }
}
