.divider {
    min-height: 1px;
    background-color: var(--border);
    background: linear-gradient(to right, var(--border), transparent);
    width: calc(100% + 2 * var(--spacing-default));
    margin: var(--spacing-small) calc(-1 * var(--spacing-default));
}
