.main {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.container {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxxl);
}

.header-margin {
    display: flex;
    margin-top: var(--headerHeight);
    margin-bottom: var(--headerHeight);
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: var(--contentWidth);
    width: 100%;
    margin-top: calc(var(--headerHeight) + var(--spacing-xxxl));
    margin-inline: var(--spacing-xxl);
}
