@import 'src/styles/mixins';

$collapsed: 12px;
$expanded: calc($collapsed * 2.5);
$maxVisible: 4;
$maxVisibleHalf: calc($maxVisible / 2);

.container {
    position: absolute;
    display: flex;
    width: round(100%, 1px);
    overflow: hidden;
    min-width: 100px;
    z-index: 2;
    cursor: pointer;

    @include responsive('xs') {
        max-width: min(150px, 100vw);
    }

    transform: translateY(10px);
    border-bottom-left-radius: var(--rounded-default);
    border-bottom-right-radius: var(--rounded-default);
    border: 1px solid var(--border);
    height: $collapsed;
    transition: height var(--transition-default);

    &::before {
        /* content: ''; */
        position: absolute;
        width: 100%;
        min-height: $collapsed;
        max-height: $collapsed;
        background: linear-gradient(
            to top,
            transparent,
            transparent,
            #00000015
        );
        pointer-events: none;
    }

    &:hover {
        height: $expanded;
    }

    @include responsive('xs') {
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

@keyframes blur-slow {
    20% {
        filter: blur(10px);
    }
}

@keyframes blur-fast {
    20% {
        filter: blur(30px);
    }
}

div.items {
    width: round(up, 100%, 1px);
    display: flex;
    position: relative;
    translate: round(down, calc(-100% / $maxVisible), 1px);

    &.slide-right {
        &-1 {
            @media (prefers-reduced-motion: no-preference) {
                animation: blur-slow var(--transition-theme) forwards;
                transition: transform var(--transition-theme) !important;
                left: 1px;
            }
            transform: translateX(round(down, calc(100% / $maxVisible), 1px));
        }
    }

    &.slide-left {
        &-1 {
            @media (prefers-reduced-motion: no-preference) {
                animation: blur-slow var(--transition-theme) forwards;
                transition: transform var(--transition-theme) !important;
            }
            transform: translateX(round(down, calc(-100% / $maxVisible), 1px));
        }

        &-2 {
            @media (prefers-reduced-motion: no-preference) {
                animation: blur-fast var(--transition-theme) forwards;
                transition: transform var(--transition-theme) !important;
                left: -1px;
            }
            transform: translateX(
                round(down, calc(-100% / $maxVisibleHalf), 1px)
            );
        }
    }
}

.item {
    position: relative;
    top: -100%;
    height: 300%;
    min-width: round(up, calc(((100%) / $maxVisible)), 1px);
    transform: translateZ(0);
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: -4px;
        inset: -10px -0px;
        filter: blur(20px);
        opacity: 0;
        will-change: opacity;
        transition: opacity 500ms;
        pointer-events: none;
    }

    &-light,
    &-light::before {
        background-color: var(--color-light);
    }

    &-dark,
    &-dark::before {
        background-color: var(--color-dark);
    }

    &-sepia,
    &-sepia::before {
        background-color: var(--color-sepia);
    }

    &-navy,
    &-navy::before {
        background-color: var(--color-navy);
    }
}
