.container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: text;

    & > * {
        flex : 1;
    }

    input {
        width: fit-content;
        font-size: var(--text-logo);
        font-weight: 700;
        background-color: transparent;
        color: var(--fgColor-default);
    }

    &.selected-all {
        input {
            background-color: var(--bgColor-default);
            outline: var(--outline) !important;
        }
    }

    &.focused-via-mouse {
        input {
            outline: none;
        }
    }
}
