.container {
    display: flex;
    padding-inline: var(--spacing-small);
    align-items: center;

    div {
        width: 32px;
        height: 32px;
        border-radius: var(--rounded-full);
        padding: var(--spacing-default);
        transition: background-color var(--transition-default);
    }

    button {
        cursor: pointer;
        display: flex;
        padding: var(--spacing-default) var(--spacing-small);
        border-bottom: 1px solid transparent;
        z-index: 1;
        transition: border-color var(--transition-default);

        &.active {
            div {
                background-color: var(--control-default-bgColor-active);
            }
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}
