.container {
    margin-bottom: var(--spacing-xxxl);
}

.header {
    &-title {
        margin-bottom: var(--spacing-large);
        color: var(--fgColor-subtle);

        span {
            color: var(--fgColor-default);
        }
    }
}

.tabs {
    display: flex;
    gap: var(--spacing-xl);
    box-shadow: 0 1px 0 0 var(--border);

    li {
        position: relative;
        padding: var(--spacing-large) 0;
    }
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--fgColor-default);
    view-transition-name: search-active;
}
