.container {
    position: relative;
    margin-bottom: var(--spacing-xxxl);
}

.header {
    &-title {
        margin-bottom: var(--spacing-large);
        color: var(--fgColor-subtle);
    }
}

.query {
    color: var(--fgColor-default);
    transition: none !important;
}

.tabs {
    display: flex;
    gap: var(--spacing-xl);
    transition: box-shadow var(--transition-theme) !important;

    li {
        position: relative;
    }

    a {
        padding: var(--spacing-default);
        margin: var(--spacing-default) 0;

        display: block;
    }
}

.underline {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 20px;
    border-bottom: 1px solid var(--fgColor-default);
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    &-visible {
        opacity: 1;
    }
}
