@import 'src/styles/mixins';

.button {
    @include control;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--spacing-default) var(--spacing-xl);
    border-radius: var(--rounded-full);
    border: 1px solid var(--control-default-borderColor-rest);
    height: 40px;
    width: fit-content;
    min-width: 100px;
    box-shadow: var(--shadow-barely-visible);
    transition: border-color var(--transition-default),
        background-color var(--transition-default);

    &--danger {
        background-color: var(--control-danger-bgColor-rest);
        color: var(--control-danger-fgColor-rest);
        border-color: var(--control-danger-borderColor-rest);

        &:hover {
            background-color: var(--control-danger-bgColor-hover);
            border-color: var(--control-danger-borderColor-hover);
        }

        &:active {
            background-color: var(--control-danger-bgColor-active);
            border-color: var(--control-danger-borderColor-active);
        }
    }
}

.inverted {
    @include control-inverted;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
    user-select: none;
    transition: color var(--transition-default);
}
