.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    & > * {
        width: 100% !important;
    }

    & > * > * {
        width: 100% !important;
        border-radius: var(--rounded-full) !important;
        background-color: var(--bgColor-default) !important;
        transition: background-color var(--transition-default), border-color var(--transition-default) !important;
    }
}

.mobile-trigger {
    display: none !important;
}
