.image {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden !important;
    cursor: pointer;

    img {
        transition: filter var(--transition-default);
        pointer-events: none;
        user-select: none;
    }


    &:hover {
        img {
            filter: brightness(0.8);
            border-radius: 9999px;
        }
    }
}
