@import 'src/styles/mixins';

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
    z-index: 1;

    @include responsive('lg') {
        position: initial;
    }
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    pointer-events: initial;
    height: 40px;
    border-radius: var(--rounded-full);
    transition: border-color var(--transition-default),
        width var(--transition-default);
    width: 350px;

    @include responsive('lg') {
        width: 40px;
    }
}

.publish {
    height: 40px;
}

.new-post {
    .container {
        border: none;
        width: 115px;

        button {
            justify-content: flex-start;
            width: 100%;
        }
    }
}

.search {
    position: relative;
    & > div {
        position: absolute;

        transition: opacity var(--transition-default);
    }
}

.search-bar {
    opacity: 1;
    width: 100%;
    @include responsive('lg') {
        opacity: 0;
        pointer-events: none;
    }
}
.search-button {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    max-width: 40px;

    button {
        min-width: unset;
        width: 40px;
    }

    @include responsive('lg') {
        opacity: 1;
        pointer-events: all;
    }
}
