@keyframes fade-in {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: initial;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        pointer-events: none;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.mounted {
    animation: fade-in var(--transition-default) forwards, slide-in var(--transition-fast) forwards;
}

.unmounted {
    animation: fade-out var(--transition-default) forwards;
}
