.container {
    position: absolute;
    background-color: var(--fgColor-default);

    color: var(--bgColor-default) !important;
    * {
        color: var(--bgColor-default) !important;
    }

    border-radius: var(--rounded-large);
    padding: var(--spacing-default) var(--spacing-large);
}
