.menu-bar {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-bottom: var(--spacing-large);
    border-bottom: 1px solid var(--border);
    margin-top: 120px;
    height: var(--headerHeight);

    margin-inline: calc(-1 * var(--spacing-xxxl));
    height: var(--headerHeight);
    background: linear-gradient(
        to bottom,
        var(--bgColor-default),
        color-mix(in srgb, var(--header-bgColor), transparent 20%)
    );
    backdrop-filter: blur(5px);

    button {
        border-radius: var(--rounded-default);
        width: 30px;
        height: 30px;
        transition: background-color var(--transition-fast);

        svg {
            width: 20px;
        }

        &:hover {
            background-color: var(--control-default-bgColor-hover);
        }

        &:active {
            background-color: var(--control-default-bgColor-active);
        }
    }
}

.content {
    padding-block: var(--spacing-default);
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: var(--headerHeight);
    align-items: flex-end;
    max-width: min(var(--contentWidth), 100vw);
    width: 100%;
}

.buttons {
    display: flex;
    gap: var(--spacing-default);
}
