@keyframes rotate {
    10%,
    100% {
        transform: rotate(0deg);
    }
    55% {
        transform: rotate(var(--rotation));
    }
}

@keyframes scale {
    10% {
        scale: 0.9;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

@keyframes flash {
    50% {
        fill: #f77;
        stroke: #f77;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
        background-position: 0% 0%;
    }
    15% {
        opacity: 1;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        opacity: 0;
        background-position: 100% 100%;
    }
}

.wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: var(--spacing-default);

    align-items: center;

    span {
        text-align: start;
    }

    svg {
        stroke-width: 1.5px;
        fill: transparent;
        transition: none;
    }

    &.set {
        svg {
            fill: red;
            stroke: red;
        }
    }

    &.toggled {
        .heart-wrapper {
            animation: rotate 1s, scale 1s;
        }

        svg {
            animation-name: flash;
            animation-timing-function: ease-out;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}

.heart-wrapper {
    display: flex;
    position: relative;

    &:before {
        background-position: 0% 0%;
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, transparent, transparent, #fff, transparent);
        background-size: 275% 275%;
        z-index: 1;
    }
}

.small {
    min-width: 16px;
    min-height: 16px;

    svg {
        stroke-width: 2px;
    }
}
