.loader {
    position: relative;

    svg {
        inset: 0;
        will-change: transform;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: flex;
    align-items: center;
    height: inherit;
    width: inherit;
    inset: 0;
    stroke: inherit;
    z-index: 1;
    animation: spin 500ms infinite linear;
}
