.wrapper {
    --toastTotalHeight: 50px;
    position: fixed;
    overflow: hidden;
    inset: 0;
    padding: var(--spacing-large) var(--spacing-xxl);
    pointer-events: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 200;

    svg {
        width: 19px;
        max-width: 19px;
    }
}

.toast {
    position: relative;
    pointer-events: all;
    max-width: 500px;
    overflow: hidden;
    border-radius: var(--rounded-full);
    border: 1px solid var(--border);
    margin-bottom: var(--spacing-large);
    background-color: var(--bgColor-default);
    box-shadow: var(--shadow-barely-visible);
    transition: background-color var(--transition-slow), border-color var(--transition-slow),
        color var(--transition-slow), height var(--transition-slow);

    --_typeColor: var(--fgColor-default);

    color: var(--_typeColor);
    border-color: color-mix(in srgb, var(--_typeColor), transparent);
    background-color: color-mix(in srgb, var(--_typeColor), var(--bgColor-default) 92%);

    span {
        color: var(--_typeColor);
        line-height: initial;
    }

    svg {
        stroke: var(--_typeColor);
    }

    .life {
        background-color: var(--_typeColor);
    }

    &.pending {
        background-color: var(--bgColor-default);
        border-color: var(--border);
    }

    &.info {
        --_typeColor: var(--color-info);
    }

    &.success {
        --_typeColor: var(--color-success);
    }

    &.error {
        --_typeColor: var(--color-error);
    }

    &.warning {
        --_typeColor: var(--color-warning);
    }

    @keyframes fade-in {
        0% {
            margin-bottom: 0px;
            opacity: 0;
            height: 0px;
            transform: translateY(-45%);
        }
        25% {
            opacity: 0;
        }
        75% {
            height: auto;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
            height: auto;
        }
        50% {
            opacity: 0;
            height: 0px;
            transform: translateY(15%);
        }
        100% {
            opacity: 0;
            height: 0px;
            margin-bottom: 0px;
        }
    }
    &.fade-out {
        animation: fade-out var(--transition-slow) ease-out forwards;
    }

    animation: fade-in var(--transition-sloth) forwards;
}
.icon {
    display: flex;
    font-size: 16px;
    padding-right: 10px;
}

.content {
    position: relative;
    overflow: hidden;
    height: 100%;

    white-space: pre-wrap;
    min-height: calc(var(--toastTotalHeight));
    gap: var(--spacing-xxl);
    padding: var(--spacing-xl) var(--spacing-xxl);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: var(--transition-default);

    svg {
        color: var(--fgColor-subtle);
    }

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

@keyframes lifetime {
    0% {
        opacity: 0;
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

.life {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    opacity: 0.2;
    background-color: var(--border);
    animation-name: lifetime;
    animation-delay: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    pointer-events: none;
}
