@import 'src/styles/mixins';

@keyframes pop-up {
    50% {
        transform: translateX(14px) translateY(-14px) scale(1.2);
    }

}

@keyframes ring {
    25% {
        rotate: 10deg;
    }
    50% {
        rotate: -10deg;
    }
}

.button {
    @include control;
}

.counter {
    position: absolute;
    border-radius: var(--rounded-full);
    height: 18px;
    min-width: 18px;
    padding: 4px;
    background: linear-gradient(45deg, rgb(212, 58, 58), rgb(228, 80, 129));

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 400;

    transform: translateX(14px) translateY(-14px);

    transition: transform var(--transition-slow);
    scale: 0;
    box-shadow: var(--shadow-default);
}

.visible {
        scale: 1;
}

.new-notification {
    .bell {
        animation: ring var(--transition-sloth) ease-in-out;
    }
    .counter {
        animation: pop-up var(--transition-default) ease-out;
    }
}
