@import 'src/styles/mixins';

@keyframes pop-up {
    50% {
        transform: translateX(14px) translateY(-14px) scale(1.2);
    }
}

@keyframes flash {
    50% {
        background-color: #f77;
    }
}

@keyframes ring {
    25% {
        rotate: 10deg;
    }
    50% {
        rotate: -20deg;
    }
    75% {
        rotate: 20deg;
    }
}

.button {
    @include control;
}

.counter {
    position: absolute;
    border-radius: var(--rounded-full);
    height: 18px;
    min-width: 18px;
    padding-inline: 4px;
    background: var(--color-social);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;

    transform: translateX(14px) translateY(-14px);
    transition: opacity var(--transition-default), translate var(--transition-default),
        scale var(--transition-default);

    box-shadow: var(--shadow-default);
    user-select: none;

    span {
        line-height: 1;
        font-size: 12px;

        color: white;
    }
}

.active {
    background-color: var(--control-default-bgColor-hover);
}

.hide-alert {
    opacity: 0 !important;
}

.new-notification {
    .bell {
        animation: ring var(--transition-sloth) ease-in-out;
    }
    .counter {
        animation: pop-up var(--transition-default) ease-out,
            flash var(--transition-sloth) ease-in-out;
    }
}

.content {
    padding: 0 !important;
    height: 670px;
}
