    @keyframes slide-in {
        0% {
            transform: translateY(-10px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .animation--slide-in {
        animation: slide-in var(--transition-instant);
    }
