.content {
    display: flex;
    align-items: center;
    gap: var(--spacing-default);

    span {
        max-width: 200px;
        transition: max-width var(--transition-slow),
            opacity var(--transition-slow);
        white-space: nowrap;
    }

    div {
        display: flex;
        align-items: center;
        position: relative;
        transition: width var(--transition-slow), height var(--transition-slow);
        width: 16px;
        height: 16px;
    }
}

.has-brand-icon {
    svg {
        transition: opacity var(--transition-default);
    }

    &:disabled {
        svg {
            opacity: 0.5;
        }
    }
}

button.pending,
button.success {
    .content {
        div {
            width: 24px;
            height: 24px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        span {
            max-width: 0px;
            opacity: 0;
            overflow: hidden;
        }
    }

    svg {
        color: var(--control-inverted-fgColor-rest);
    }
}

@keyframes flash {
    25% {
        background-color: var(--color-success-flash);
    }
}
.submit {
    &.success {
        background-color: var(--color-success);
        animation: flash 750ms var(--transition-default) forwards;
    }
}
