.form {
    position: relative;
    width: clamp(10vw, 450px, calc(100vw + 2px));
    box-shadow: -35px 0px 60px -90px #000000, 35px 0px 60px -90px #000000;
    height: 100%;

    & > * {
        margin: 0 auto;
    }

    & > button {
        width: 100%;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.spinner-big {
    position: absolute;
    inset: -300px;
    z-index: 3;
    animation: spin 300s infinite reverse linear;
    opacity: 0.125;
    pointer-events: none;

    svg {
        transition: fill var(--transition-theme);
        fill: var(--fgColor-barely-visible);
        width: 100%;
        height: 100%;
        font-weight: 800;
        letter-spacing: 1px;
    }
}

.spinner {
    margin-top: var(--headerHeight);
    position: fixed;
    inset: 50px;
    z-index: 1;
    animation: spin 150s infinite linear;
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
    svg {
        transition: fill var(--transition-theme);
        fill: var(--fgColor-barely-visible);
        width: 100%;
        height: 100%;
        font-weight: 800;
        letter-spacing: 1px;
    }
}

.content-wrapper {
    position: relative;
    background-color: var(--bgColor-default);
    min-height: 650px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    & > * {
        flex: 1;
    }

    &:before, &:after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: var(--border);
        transition: background-color var(--transition-theme);
        -webkit-mask-image: linear-gradient(to bottom, transparent 5%, #000 25%, #000 75%, transparent 95%);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 3;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }
}
.content {
    position: relative;
    min-height: 600px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-xxl);
    background-color: var(--bgColor-default);
    transition: background-color var(--transition-theme);
    width: 100%;
    height: calc(100% - var(--headerHeight));
    margin-top: var(--headerHeight);

    & > button {
        transition: border-color var(--transition-default), background-color var(--transition-default);
        svg {
            transition: fill var(--transition-default);
        }
    }


}

.header {
    text-align: center;
    font-size: var(--text-logo);
    margin: var(--spacing-xxl);
}

.description {
    text-align: center;
}

.divider {
    color: var(--fgColor-subtle);
    font-size: var(--text-small);
    width: 100%;
    display: flex;
    align-items: center;
    transition: color var(--transition-theme);

    &::before, &::after {
        flex: 1;
        content: '';
        height: 1px;
        background-color: var(--border);
        transition: background-color var(--transition-theme);
    }

    &:not(:empty) {
        &::before {
            margin-right: var(--spacing-large);
        }

        &::after {
            margin-left: var(--spacing-large);
        }
    }
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);

    button {
        width: 100%;
    }
}

.buttons {
    margin-top: var(--spacing-xxl);
}

.terms {
    padding-inline: var(--spacing-xl);
    text-align: center;
    color: var(--fgColor-subtle);
    font-size: var(--text-small);
    text-wrap: balance;
}

.redirect {
    text-align: center;
    a {
        font-weight: bold;
    }
}
